.modalDetalle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 80vh;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
    .botonesFilter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .botonesFilter > div > Button {
        width: 100%;
    }
    .modalDetalle{
        width: 70vw;
    }
}