#principalCard {
    padding: 20px;
}

#tituloBotones {
    align-items: center;
}

.detallesBusqueda {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.boxBusqueda {
    display: box;
    width: 30%;
}

#card-busqueda {
    display: flex;
    align-items: center;
}

.boxImagenes {
    display: box;
    width: 60%;
}

.modalDetalle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 80vh;
}

.modalDetalle>form {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .detallesBusqueda {
        display: block;
        margin-top: 2px;
        justify-content: space-evenly;
    }

    .boxBusqueda {
        width: 100%;
    }

    .boxImagenes {
        width: 100%;
    }

    .customImageList {
        display: grid;
        grid-template-columns: repeat(2);
    }
}