
#tooltip {
    position: relative;
    cursor: pointer;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.cardEstadosDashGeneral{
    align-items: center
}

.cardEstadosTitle{
    display: flex;
    justify-content: space-between
}

#cardEstadosNum{
    width: 100%;
}

.dashPrincipal{
    display: flex;
    width: 100%
}

.dashMotorizados{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

#uniqueMotorizado{
    display: flex;
    padding: 10px;
    align-items: center;
}

#uniqueMotorizado > div {
    padding-top: 15px;
    padding-left: 15px;
    padding-Right: 15px;
}

#countMotorizado{
    background-color: #1A5276;
    color: white;
}

.dashPrincipal2{
    display: flex;
    margin: 20px
}

#cardAnual1{
    width: 50%;
    margin-left: 3%;
    padding: 15px
}

#cardAnual2{
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 15px
}

.cardAnualGeneral{
    display: flex;
    height: 430px
}

.cardAyerSemanalAnualGeneral{
    display: flex;
    justify-content: center
}

#cardAyerGeneral{
    width: 27.3%
}

#cardSemanalGeneral{
    width: 27.3%;
    margin-left: 1%
}

#cardMensualGeneral{
    width: 27.3%;
    margin-left: 1%
}

.modalDetalle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 80vh
}

.tdHorario{
    text-align: center;
    justify-content: center;
    display: flex;
}

.tdTransportadora{
    text-align: center;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .cardEstadosDashGeneral{
        display: block;
    }
    .dashPrincipal{
        display: block;
    }
    .dashPrincipal2{
        display: block;
    }
    #cardAyerDetalles{
        display: none
    }
    #cardSemanalDetalles{
        display: none
    }
    #cardMensualDetalles{
        display: none
    }
    #cardUltimosMovimientos{
        display: none
    }
    .cardAnualGeneral{
        display: flex;
        height: 100%
    }
    #cardAnual1{
        display: none
    }
    #cardAnual2{
        width: 100%;
    }
    .cardAyerSemanalAnualGeneral{
        display: block;
        justify-content: center
    }
    #cardAyerGeneral{
        width: 100%
    }
    
    #cardSemanalGeneral{
        width: 100%;
        margin-left: 0
    }
    
    #cardMensualGeneral{
        width: 100%;
        margin-left: 0
    }
    .dashMotorizados{
        display: none;
    }
}